Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
wk3.opensdf
wk3.sdf
wk3.sdf.BASE.4716.sdf
wk3.sdf.BASE.6432.sdf
wk3.sdf.LOCAL.4716.sdf
wk3.sdf.LOCAL.6432.sdf
wk3.sdf.REMOTE.4716.sdf
wk3.sdf.REMOTE.6432.sdf
